<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>

  <div class="container" id="app" v-cloak>
    <div class="card">
      <h1>План по изучению Vue.js</h1>

      <div class="steps">
        <div class="steps-content">
          {{ steps[activeIndex].text }}
        </div>

        <ul class="steps-list">
          <li v-for="(step, idx) in steps"
            :class="['steps-item', {'done': activeIndex > idx}, {'active': activeIndex === idx}]"
            @click="setActive(idx)"
            ><span >{{ idx + 1 }}</span> {{ step.title }}
          </li >
        </ul>

        <div v-if="clickButton !== 'Начать заново'">
          <button :class="{'btn' : true}" @click="prev" :disabled="disableBack">Назад</button>
          <button :class="['btn', 'primary']" @click="nextOfFinish">{{ clickButton }}</button>
        </div>
        <div v-else>
          <button class="btn" @click="reset">{{ startOver }}</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="vue.js"></script>
  </body>
</html>
